{% extends "base.html" %} {% block body %}
<h1>Buy ensurance</h1>
<p>Name: {{user.Name}}</p>
<p>CardId: {{request.args.get("card_id")}}</p>

<form action="#" method="post">
  <div class="form-group">
    <label for="bike_serial">Type:</label>
    <select class="form-control" name="tf">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
    <label for="card_id">Amount: </label></br>
    <input id="card_id" type="text" placeholder="請輸入金額" name="mf" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
