{% extends "base.html" %} {% block body %}
<h1>User History</h1>
<a href="/employee/employee_root">Employee Home</a>
<form action="/employee/userHistory?emp_id={{emp_id}}" method="get">
  <div>
    <label for="card_id"> User cardID: </label>
    <input
      type="hidden"
      name="emp_id"
      value="{{ request.args.get('emp_id') }}"
    />
    <input id="card_id" type="text" name="card_id" />
  </div>
  <div class="button">
    <button type="submit" class="btn btn-primary">Search user history</button>
  </div>
</form>
{% if row == 0 %}
<p>No data found.</p>
{% else %}
<p>CardId: {{request.args.get("card_id")}}</p>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Start location</th>
      <th>Stop location</th>
      <th>Cost</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for history in r %}
    <tr>
      <td>{{ history.Start_loc }}</td>
      <td>{{ history.Stop_loc }}</td>
      <td>{{ history.Cost }}</td>
      <td>{{ history.Time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<a href="/employee?emp_id={{emp_id}}">Back</a>
{% endblock %}
