{% extends "base.html" %} {% block body %}
<h1>Employee Profile</h1>
<a href="/employee/employee_root">Employee home</a>
<p>Name: {{emp.Name}}</p>
<p>Sex: {{emp.Sex}}</p>
<p>Ssn: {{request.args.get("emp_id")}}</p>

<a href="{{url_for('employee.employee_control', **request.args)}}"
  >Control Location</a
>
<a href="{{url_for('employee.employee_maintain', **request.args)}}"
  >Control Bikes</a
>
<p />
<a href="{{url_for('employee.employee_user_history', **request.args)}}"
  >User History</a
>
<a href="{{url_for('employee.employee_rent_info', **request.args)}}"
  >Rent info</a
>
{% endblock %}
