<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>user root</title>
    <style>
        a {
            display: block;
        }
    </style>
  </head>
  <body>
    <h1>User {{card_id}}</h1>
    <a href="{{url_for('user_profile', card_id=card_id)}}">Profile</a>
    <a href="{{url_for('user_history', card_id=card_id)}}">History</a>
    <a href="{{url_for('user_rent', card_id=card_id)}}">Rent bike</a>
    <a href="{{url_for('user_return', card_id=card_id)}}">Return bike</a>
  </body>
</html>
